export(read.AFNI,read.ANALYZE,read.DICOM,read.NIFTI)
export(write.AFNI,write.ANALYZE)
export(fmri.stimulus,fmri.design,fmri.lm)
export(fmri.smooth,fmri.pvalue)
export(plot.fmridata,summary.fmridata,print.fmridata)
useDynLib(fmri)

