export(read.AFNI,read.ANALYZE,read.DICOM,read.NIFTI,extract.data)
export(write.AFNI,write.ANALYZE)
export(fmri.stimulus,fmri.design,fmri.lm)
export(fmri.smooth,fmri.pvalue)
export(plot.fmridata,summary.fmridata,print.fmridata,ngca)
useDynLib(fmri)
#export(vaws3D,smooth3D)
